@use "../_shared" as *;

.aside-nav {
    padding: 20px;
    background-color: $color-solitude;
    border-radius: 20px;

    @include vp-1439 {
        padding: 20px 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: $color-verdunGreen;
        margin: 0 0 25px;

        @include vp-1439 {
            font-size: 15px;
            line-height: 20px;
            margin: 0 0 20px;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 14px;
            margin: 0 0 15px;
        }
    }
    &__list {
        @include listReset;
        display: flex;
        flex-direction: column;
        gap: 25px;
        // align-items: flex-start;

        @include vp-1439 {
            flex-direction: row;
            justify-content: center;
            gap: 0 30px;
        }

        @include vp-767 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px 24px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 30px;
        
        &:hover &__text{
            color: $color-verdunGreen-70;
        }

        &:focus-visible  {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 2px;            
        }

        @include vp-1439 {
            gap: 10px;
        }

        svg {
            @include vp-1439 {
                height: 45px;
                width: 30px;
            }

            @include vp-767 {
                height: 40px;
                width: 26px;
            }
        }
    }
    &__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: $color-verdunGreen;

        @include vp-1439 {
            font-size: 15px;
            line-height: 20px;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 14px;
        }
    }
    
}








