@use "../_shared" as *;

.aside-nav {
    padding: 20px;
    background-color: $color-solitude;
    border-radius: 20px;
    padding: 20px;

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: $color-verdunGreen;
        margin: 0 0 25px;
    }
    &__list {
        @include listReset;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 30px;
        
        &:hover &__text{
            color: $color-verdunGreen-70;
        }

        &:focus-visible  {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 2px;            
        }
    }
    &__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: $color-verdunGreen;
    }
    
}








