.cookie {
  width: 500px;
  min-height: 180px;
  border: 1px solid $color-verdunGreen;
  border-radius: 20px;
  box-shadow: 0 4px 4px $color-black-25;
  padding: 40px 30px;
  background-color: $color-white;
  display: none;
  position: fixed;
  bottom: 210px;
  right: 30px;

  &--active {
    display: block;
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: $color-black;
    margin: 0 0 30px 0;
  }
  &__link {
    text-decoration: underline;
  }
  &__btn {
    width: 150px;
    margin: 0 auto;
  }
}

