@use "../_shared" as *;

.custom-checkbox {
    width: 100%;

    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-height: 30px;
        padding: 0 0 0 45px;
        color: $color-black;
        user-select: none;
        cursor: pointer;
    }

    &__heading {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    &__label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 30px;
        height: 30px;
        border: 2px solid $color-verdunGreen;
        border-radius: 4px;
        transform: translateY(-50%);
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 7px;
        display: none;
        color: $color-verdunGreen;
        transform: translateY(-50%);
    }

    &__link {
        color: inherit;
        text-decoration: underline;
    }

    &__field:checked + &__label &__icon {
        display: block;
    }

    &__label:hover::before {
        border-color: $color-verdunGreen-70;
    }

    &__label:hover &__icon {
        color: $color-verdunGreen-70;
    }

    &__label:hover &__heading,
    &__label:hover &__text {
        color: $color-verdunGreen-70;
    }

    &--error &__label::before {
        border-color: $color-salmon;
    }

    &--error &__icon {
        color: $color-salmon;
    }

    &__field:focus-visible + &__label::before {
        border-color: $color-daisyBush;
        outline: none;
    }

    &__field:focus-visible + &__label &__icon {
        color: $color-daisyBush;
    }

    &__field:focus-visible + &__label &__heading,
    &__field:focus-visible + &__label &__text {
        color: $color-daisyBush;
    }
}