@use "../_shared" as *;

.custom-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__field {
        border: 2px solid $color-pinkSwan;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-verdunGreen;
        padding: 16px;
        font-family: inherit;

        &:hover {
            border-color: $color-verdunGreen-70;
        }
        &:focus-visible {
            border-color: $color-verdunGreen;
            outline: none;
        }

        &::placeholder {
            color: $color-darkGray;
        }
        &[disabled] {
            border: 2px solid $color-darkGray-40;
            background-color: $color-white;
        }

        &[disabled]::placeholder{
            color: $color-darkGray-40;
        }


    }
    &__field:hover ~ &__icon {
        color: $color-verdunGreen-70;
    }
    &__field:focus-visible ~ &__icon {
        color: $color-verdunGreen;
    }

    &__field:focus-visible + &__label {
        color: $color-verdunGreen-70;
    }
    &--user-contacts &__field {
        padding-left: 54px;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 15px;
        transform: translateY(-50%);
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color:$color-verdunGreen;
        background-color: $color-white;
        padding: 1px 4px;
        user-select: none;
    }

    &__field[disabled] + &__label {
        color: $color-darkGray-40;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        pointer-events: none;
        color: $color-pinkSwan;
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        color: $color-verdunGreen;
    }
    &--error &__field{
        border-color: $color-salmon;
    }
    &__text-error {
        display: none;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        color: $color-salmon;
        margin: 5px 0 0 0;
        padding: 0;
    }
    &--error &__text-error {
        display: block;
    }
    &--error &__icon {
        color: $color-salmon;
        top: 40%;
        transform: translateY(-40%);
    }

}

