@use "../_shared" as *;

.custom-radio {
  position: relative;
  width: 100%;
  max-width: 500px;

  &__field:checked + .custom-radio__label::after {
    background-color: $color-verdunGreen;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 25px 10px 56px;
    border: 2px solid $color-verdunGreen;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      border-color: $color-verdunGreen-40;
    }

    &:hover::after {
      background-color: $color-verdunGreen-40;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      width: 26px;
      height: 26px;
      background-color: $color-gainsboro;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 22px;
      width: 12px;
      height: 12px;
      background-color: $color-white;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  &__field:focus-visible + .custom-radio__label {
    border-color: $color-daisyBush;
    outline: none;
  }

  &__field:focus-visible + .custom-radio__label::after {
    background-color: $color-daisyBush;
  }

  &__field:focus-visible + .custom-radio__label .custom-radio__top,
  &__field:focus-visible + .custom-radio__label .custom-radio__text {
    color: $color-black;
  }

  &__label:hover .custom-radio__top,
  &__label:hover .custom-radio__text {
    color: $color-black-70;
  }

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $color-black;

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: $color-black;

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}