@use "../_shared" as *;

.custom-textarea {
    width: 360px;
     
    &__field {
        min-height: 150px;
        width: 100%;
        border: 2px solid $color-pinkSwan;
        border-radius: 8px;
        padding: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-verdunGreen;
        font-family: inherit;
        resize: none;

        &::placeholder {
            color: $color-darkGray;
        }

        &:hover {
            border-color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: none;
            border-color :$color-daisyBush;
        }
    }
}



