.custom-search {
    min-width: 260px;
    position: relative;

    &__field {
        width: 100%;
        font-family: inherit;
        border: none;
        border-bottom: 2px solid $color-pinkSwan;
        padding: 13px 40px 13px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        &::placeholder {
            color: $color-pinkSwan;
        }

        &:hover {
            border-color: $color-verdunGreen-70;
        }

        &:focus-visible {
            border-color: $color-verdunGreen;
            outline: none;
        }
    }

    &__svg {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color:$color-pinkSwan;
    }
}





