.custom-radio {
  position: relative;
  width: 500px;

  &__field:checked + &__label::after {
    background-color: $color-verdunGreen;
  }

  &__label {
    padding: 10px 25px 10px 56px;
    border: 2px solid $color-verdunGreen;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      border-color: $color-verdunGreen-40;
    }
    &:hover::after {
      background-color: $color-verdunGreen-40;
    }
    &::before {
      content: "";
      height: 26px;
      width: 26px;
      background-color: $color-gainsboro;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
    &::after {
      content: "";
      height: 12px;
      width: 12px;
      background-color: $color-white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 22px;
    }
  }

  &__field:focus-visible + &__label{
    border-color: $color-daisyBush;
    outline: none;
  }

  &__field:focus-visible + &__label::after{
    background-color: $color-daisyBush;
  }

  &__label:hover &__top, 
  &__label:hover &__text {
    color: $color-black-70;
  }

  &__label:focus-visible &__top, 
  &__label:focus-visible &__text {
    color: $color-black;
  }

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 12px 0;
    font-size: 20px;
    line-height: 26px;
    color: $color-black;
    font-weight: 700;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: $color-black;
  }
}

