@use "../_shared" as *;

.custom-search {
    position: relative;
    width: 100%;
    max-width: 240px;

    &__field {
        width: 100%;
        font-family: inherit;
        border: none;
        border-bottom: 2px solid $color-pinkSwan;
        padding: 13px 44px 13px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $color-verdunGreen;
        background-color: transparent;

        &::placeholder {
            color: $color-pinkSwan;
        }

        &:hover {
            border-color: $color-verdunGreen-70;
        }

        &:focus-visible {
            border-color: $color-verdunGreen;
            outline: none;
        }
    }

    &__svg {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: $color-pinkSwan;
        pointer-events: none;
    }

    &__field:hover ~ &__svg {
        color: $color-verdunGreen-70;
    }

    &__field:focus-visible ~ &__svg {
        color: $color-verdunGreen;
    }
}