.custom-checkbox {

    &__label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        user-select: none;
        cursor: pointer;
        color: $color-black;
        position: relative;
        padding: 0 0 0 45px;
    }

    &__heading {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    &__text {  
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    &__label::before {
        content: "";
        width: 30px;
        height: 30px;
        border: 2px solid $color-verdunGreen;
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__icon {
        position: absolute;
        color: $color-verdunGreen;
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }

    &__link {
        text-decoration: underline;
        color: $color-black;
    }

    &__field:checked + &__label &__icon{
        display: block;
    }

    &__label:hover::before {
        border-color: $color-verdunGreen-70;
    }

    &__label:hover &__icon {
        color: $color-verdunGreen-70;
    }

    &__label:hover &__heading,
    &__label:hover &__text {
        color: $color-verdunGreen-70;
    }

    &--error &__label::before {
        border-color: $color-salmon;
    }

    &__field:focus-visible + &__label::before {
        border-color: $color-daisyBush;
        outline: none;
    }

    &__field:focus-visible + &__label &__icon {
        color:$color-daisyBush
    }

}