.footer {
    box-shadow: 0px -2px 4px 0px $color-black-40;
    padding: 40px 0 30px;

    &__wrapper {
        display: grid;
        grid-template-columns: 202px 1fr 202px;
        gap: 20px;
        align-items: center;
        margin-bottom: 40px;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 5px;
        }
    }

    &__social {
        margin: 0 0 0 20px;
    }

    &__nav-list {
        @include listReset;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px 50px;
        justify-content: center;
    }

    &__nav-item {
        display: flex;
        align-items: flex-start;
    }

    &__nav-link {
        display: flex;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: $color-verdunGreen;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
        }
    }

    &__right {
        display: grid;
        gap: 15px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__contact-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color:$color-verdunGreen;
    }

    &__contact-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color:$color-verdunGreen;
        text-decoration: underline;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
        }
    }

    &__copyright {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        font-weight: 700;
        font-size: 11px;
        line-height: 20px;
        text-transform: uppercase;
        color:$color-verdunGreen;
    }
}

