@use "../_shared" as *;

.footer {
    padding: 40px 0 30px;
    box-shadow: 0 -2px 4px 0 $color-black-40;

    @include vp-1439 {
        padding: 30px 0 15px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 202px 1fr 202px;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;

        @include vp-1439 {
            grid-template-columns: 202px 1fr;
            margin-bottom: 30px;
        }

        @include vp-767 {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }

    &__left {
        @include vp-767 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 5px;
        }
    }

    &__social {
        margin-left: 20px;

        @include vp-767 {
            margin-left: 0;
        }
    }

    &__nav-list {
        @include listReset;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        justify-items: start;
        gap: 20px 50px;

        @include vp-1439 {
            display: none;
        }
    }

    &__nav-item {
        display: flex;
        align-items: flex-start;
    }

    &__nav-link {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        color: $color-verdunGreen;
        text-decoration: none;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include vp-767 {
            align-items: center;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include vp-767 {
            align-items: center;
        }
    }

    &__contact-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $color-verdunGreen;
    }

    &__contact-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $color-verdunGreen;
        text-decoration: underline;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
        }
    }

    &__copyright {
        width: 100%;
        margin: 0;
        font-weight: 700;
        font-size: 11px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: right;
        color: $color-verdunGreen;

        @include vp-767 {
            text-align: center;
        }
    }
}