@use "../_shared" as *;

.header {
    border-top: 15px solid $color-fruitSalad;
    padding: 15px 0 0px;
    width: 100%;
    height: 183px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $color-white;

    &__top {
        display: grid;
        grid-template-columns: 1fr 386px 1fr;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 4px;
        border: 1px solid $color-verdunGreen;
        padding: 6px 12px;
        border-radius: 60px; 
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color:  $color-verdunGreen;  

        &:hover {
            border-color: $color-verdunGreen-70;
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: none;
            border-color: $color-daisyBush;
        }
    }

    &__callback {
        font-family: $ff-montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.06em;
        text-decoration: underline;
        color: $color-verdunGreen;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 2px;
        }
    }
    &__logo:focus-visible {
        outline: 1px solid $color-verdunGreen-70;
        outline-offset: 5px;
    }

    &__users {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__user-list {
        @include listReset;
        margin: 0 25px 0 0;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__user-link {
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: none;
            color: $color-daisyBush;
        }
    }

    &__user-link:hover &__user-text {
        color: $color-verdunGreen-70;
    }

    &__user-link:focus-visible &__user-text {
    color: $color-daisyBush;
    }
    &__user-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $color-verdunGreen;
        margin: 0 0 0 10px;
    }
    &__user-count {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-fruitSalad;
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: -5px;
        right: -5px;
    }

    &__user-link:hover &__user-count {
        background-color: $color-fruitSalad-70;
    }

    &__user-link:focus-visible &__user-count{
    background-color: $color-daisyBush;
    }
    &__burger {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        position: relative;
        color: $color-fruitSalad;

        &::before {
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            color: $color-fruitSalad-70;
        }

        &:focus-visible {
            outline: none;
            color:$color-daisyBush;
        }
    }
}

