@use "../_shared" as *;

.hero {
    background-color: $color-tara-80;
    padding: 105px 0;
    /*min-height: calc(100vh - 188px);/*Контент должен растягиваться на всю высоту экрана, поэтому мы вычитаем из высоты блока высоту хэдера*/
    display: flex;
    align-items: center;
    margin: 0 0 60px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 640px;
        gap: 55px;
        align-items: center;
    }
    &__text {
        font-weight: 700;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: -0.05em;
        color: $color-verdunGreen;
        margin: 0 0 40px;
    }
    &__slogan { 
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $color-verdunGreen;
        margin: 0 0 50px;
    }
    &__gallery-list {
        @include listReset;
        display: grid;
        grid-template-columns: 305px 300px;
        gap: 50px 35px;
    }
    &__gallery-item--xl {
        grid-row: span 2;
    }
}


