.main-nav {
    &__list {
        @include listReset;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, auto);
        gap: 40px;
        background-color: $color-saltpan;
        padding: 19px 0 19px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 10;

        &:hover {
            color: $color-verdunGreen-70;
        }
        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 2px;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: $color-verdunGreen;
    }
}
