@use "../_shared" as *;

.main-nav {
    @include vp-1439 {
        display: none;
    }

    &__list {
        @include listReset;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px 40px;
        padding: 19px 0;
        background-color: $color-saltpan;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $color-verdunGreen;

        &:hover {
            color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: 1px solid $color-verdunGreen-70;
            outline-offset: 2px;
        }

        &:hover .main-nav__text {
            color: $color-verdunGreen-70;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        color: $color-verdunGreen;
    }
}