.order {
  &__wrapper {
    display: grid;
    grid-template-columns: 630px 590px;
    align-items: start;
  }

  &__left-col {
    padding: 50px 30px 60px 0;
    border-right: 2px solid $color-saltpan;
  }

  &__right-col {
    position: sticky;
    padding: 50px 0 20px 30px;
    top: 183px;
  }

  &__title {
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    margin: 0 0 50px 0;
  }

  &__subtitle {
    text-align: center;
    font-size: 34px;
    line-height: 30px;
    margin: 0 0 50px 0;
  }

  &__list {
    @include listReset;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 30px 0;
  }

  &__summary {
    padding: 20px 0;
    border-top: 1px solid $color-pinkSwan;
    border-bottom: 1px solid $color-pinkSwan;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
  }

  &__summary-inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
  &__total {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
  }
}
