.order-card {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  &__inner {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  &__sale {
    display: block;
    width: 24px;
    height: 13px;
    border-radius: 5px;
    background-color: $color-verdunGreen;
    padding: 2px;
    font-size: 10px;
    line-height: 10px;
    color: $color-white;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &__name {
    color: $color-verdunGreen;
  }
  &__price {
    margin: 0 0 0 auto;
  }
  &__price-old {
    color: $color-verdunGreen-40;
    position: relative;

    &::before {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $color-verdunGreen;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

