@use "../_shared" as *;

.product-card {
    background: linear-gradient(89.82deg, #C1DFC4 2.25%, #DEECDD 99.84%);
    border-radius: 20px;
    padding: 22px 20px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:focus-visible {
        outline: 1px solid $color-verdunGreen-70;
    }
    &--flat {
        padding: 25px 70px 40px;
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: $color-verdunGreen;
        text-align: center;
        margin: 0 0 35px;
    }
    &:hover &__title {
        color: $color-verdunGreen-70;
    }
    &__wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    &--flat &__wrapper {
        flex-direction: row;
        gap: 60px;
    }
    &__heading {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px; 
    }
    &--flat &__heading{
        width: 50%;
        flex-direction: column;
        margin: 0;
        gap: 30px;
    }
    &__img {
        width: 228px;
        height: 152px;
        border-radius: 0 130px 0 130px; 
        
    }
    &--flat &__img {
        width: 100%;
        height: 259px;
        border-radius: 0 170px 0 170px; 
    }
    &__name {
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        line-height: 20px;
        color: $color-verdunGreen;
    }
    &--flat &__name{
        font-size: 24px;
        line-height: 30px;
    }
    &__info-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    &--flat &__info-wrapper {
        width: 50%;
        background-color: $color-white;
        padding: 25px;
        border-radius: 50px 0 50px 0;
    }
    &__description { 
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $color-verdunGreen;
        margin-bottom: 25px;    
    }
    &--flat &__description {
        font-size: 18px;
        line-height: 25px;
        margin: 0 0 35px;
    }
    &_info {
        border-radius: 20px;
        background-color: $color-white;
        padding: 20px;
        margin-top: auto;
    }
    &--flat &_info {
        background: unset;
        padding: 0;
    }
    &__care {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0 0 20px;
    }
    &--flat &__care {
        margin: 0 0 40px;
    }
    &__care-group{
        display: flex;
        flex-direction: column; 
    }
    &__care-condition {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: $color-verdunGreen;
        margin: 0 0 5px; 
    }
    &--flat &__care-condition {
        font-size: 18px;
        line-height: 18px;
    }
    &__care-value {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: $color-verdunGreen;
    }
    &--flat &_care-condition {
        font-size: 16px;
        line-height: 16px;
    }
    &__care-group--right {
        text-align: right;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &--flat &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    &__btn {
        width: 50%;
        border-radius: 30px;
        padding: 14px;
        font-size: 14px;
    }
}





