@use "../_shared" as *;

.products {
    @include listReset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin: 0 0 70px;

    @include vp-1439 {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
        margin: 0 0 50px;
    }

    @include vp-767 {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 0 0 30px;
    }

    &--flat {
        grid-template-columns: 1fr;
        gap: 70px;

        @include vp-1439 {
            gap: 50px;
        }

        @include vp-767 {
            gap: 30px;
        }
    }
}