@use "../_shared" as *;

.social {
    @include listReset;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-verdunGreen;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: none;
            background-color: $color-daisyBush;
        }
    }
}