@use "../_shared" as *;

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $color-verdunGreen;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: $color-verdunGreen-70;
        }

        &:focus-visible {
            outline: none;
            background-color:$color-daisyBush;
        }
    } 
}

